.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.editor {
  padding: 10px;
  width: 600px;
  margin: 0 auto;
}

.editor a {
  color: #08c;
}

.button {
  float: right;
  padding: 20px;
}

.delete-button {
  float: left;
  padding: 20px;
}

.modal {
  z-index: 9999;
  position: absolute;
  padding: 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 1.0px #888888;
}

.date {
  text-align: right;
}

.modal-buttons {
  margin-right: 30px;
}

.login {
  float: right;
  padding: 160px;
/*  margin: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;  */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
